.griglia-preferenze {
    display: grid;
    grid-template-columns: max-content min-content;
}

.griglia-output {
    display: grid;
    grid-template-columns: max-content min-content;
}

.riga-seleziona-partito {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline
}